.card-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.card {
  border: 2px solid #64EAEA;
  padding: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #4db6ac;
  }

  &.selected {
    border-color: #4db6ac;
  }
}

.continue-button {
  background-color: #64EAEA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #4db6ac;
  }
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
